# Ignorer les fichiers R indésirables
.Rhistory

# Ignorer les fichiers temporaires générés par R
.RData
.Rproj.user/

# Ignorer les fichiers de configuration spécifiques à RStudio
.Rproj.user/
.Rproj.user/*

